extends ../../layout

block content
 div#edit
   include toolbar
   include sidebar
   #tab-container.navbar.navbar-fixed-top
    ul#pages.tabrow

   #scroll-pane
     div#canvas-background
       #canvas