extends ../../layout

block content
 div#edit
   include toolbar
   include sidebar
   #tab-container.navbar.navbar-fixed-top
    ul#pages.tabrow
    span.popbox
      button.open.btn.btn-success.btn-small(title="Add a new page to this projects")
        i.icon-plus
        |  New Page
      .box
        .arrow
        .arrow-border
        form#new-page
          label New Page URL
          .input-append
            input(type='url', placeholder='http://example.com', required=true)
            button.btn.btn-success(type="submit") Add
          a.pull-right.popbox-close(href='#') &times; cancel

   #scroll-pane
     div#canvas-background
       #canvas