div.gridline.h
div.gridline.v
div#edit(data-project-id = "#{project.id}")
  include toolbar
  include sidebar

  div#canvas-background
    #canvas(style = "background-image: url(#{project.screenshot}); width: #{project.screenshotWidth}px; height: #{project.screenshotHeight}px")