div#sidebar
  #crit-list
    .page-header
      h2 Crits

    ol#crits
      li.placeholder You have not created any crits yet.

    a#remove-all.btn.btn-small.btn-danger.hide.pull-right
      i.icon-remove
      |  Remove All

  form#crit-options.hide

    .page-header
      h2 Edit
    .control-group.pull-right
      a#remove-crit.btn.btn-small.btn-danger
        i.icon-remove
        |  Remove

    .control-group
      .controls
        | <textarea id="crit-comment" placeholder="Enter your comment"></textarea>
      .help-block Hint: Use command/control + enter to save
    a#cancel-crit.btn.btn-small.btn-warning.pull-left
      i.icon-cancel
      |  Cancel
    a#save-crit.btn.btn-small.btn-success.pull-right
      i.icon-checkmark
      |  Save

