div#toolbar.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container-fluid
      mixin branding
      ul.nav.pull-right
        li
          a(href="/v/#{project.shortId}")
           i.icon-eye
           |  Preview
        li
          a(href="/v/#{project.shortId}#share")
            i.icon-share
            |  Share
        li.dropdown
          include ../../auth/signin