div#toolbar.navbar.navbar-fixed-top.white-icons
  .navbar-inner
    .container-fluid
      a.brand(href='/') myDesignCrit.com
      ul.nav.pull-right
        li
          a(href="/v/#{project.shortId}") Preview
        li
          a(href="/v/#{project.shortId}#share") Share
        li.dropdown
          include ../../auth/signin
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            i.icon-white.icon-cog
            b.caret
          ul.dropdown-menu
            li
              a#toggle-gridlines(href='#')
                i.icon-ban-circle
                |  Hide Grid Lines
