div#toolbar.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container-fluid
      a.brand(href='/') myDesignCrit.com
      ul.nav.pull-right
        li
          a(href="/v/#{project.shortId}")
           i.icon-zoom-in
           |  Preview
        li
          a(href="/v/#{project.shortId}#share")
            i.icon-share
            |  Share
        li.dropdown
          include ../../auth/signin
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            i.icon-cog
            b.caret
          ul.dropdown-menu
            li
              a#toggle-gridlines(href='#')
                i.icon-ban-circle
                |  Hide Grid Lines
