include ../gridlines/index
include tools

div#canvas-background
  #canvas(style = "background-image: url(#{project.screenshot}); width: #{project.screenshotWidth}px; height: #{project.screenshotHeight}px")