form#new-project-form.form-horizontal.text(method='post', action='')
  div.control-group
    h1 Create A New Crit
    label.control-label Website URL
    div.controls
      div.input-prepend.input-append.
        <span class="add-on">http://</span><input class="span4" name="url" type="text" placeholder="example.com"/><button class="btn btn-primary" type="submit">Go</button>
