form#new-project-form.form-horizontal.text(method='post', action='/')
  div.control-group
    h1 Create A New Crit
    div.controls
      div.input-prepend.input-append.
        <span class="add-on">Web page URL</span><input class="span4" name="url" type="url" placeholder="http://example.com" required/><button class="btn btn-primary" type="submit">Go</button>
