div#toolbar.navbar.navbar-fixed-top
  .navbar-inner
    a.brand myDesignCrit.com
    .pull-right
      a.btn.btn-small.btn-warning
        i.icon-white.icon-remove
        |  Cancel
      a.btn.btn-small.btn-success
        i.icon-white.icon-ok
        |  Apply
      a.btn.btn-small.btn-danger
        i.icon-white.icon-ban-circle
        |  Remove

