div#toolbar.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.brand myDesignCrit.com
      include ../auth/signin
      a#toggle-gridlines.btn.btn-small.pull-right
        i.icon-ban-circle
        |  Hide Grid Lines

