div#toolbar.navbar.navbar-fixed-top
  .navbar-inner
    a.brand myDesignCrit.com
    a.btn.btn-small.btn-warning
      i.icon-white.icon-remove
      |  Cancel
    
    
    a.btn.btn-small.btn-success
      i.icon-white.icon-ok 
      |  OK
      
