form.form-horizontal(method='post', action='')
  div.control-group
    label.control-label Website URL
    div.controls
      input.input-xlarge(name='url', type='text', placeholder='http://example.com')
      button.btn.btn-primary(type='submit') Go