#index
 img#beta(src='/img/beta.png')
 div.navbar
   .navbar-inner
     .container-fluid
       ul.nav.pull-right
         li.dropdown
           include auth/signin

 .hero-unit.row
   .page-header
     h1 Critiquing designs <small>just got easier.</small>
   p.
     When creating a new website communication is important. Clients and designers still use emails and attachments to
      get feedback. Using <i>mydesigncrit.com</i> is a new and easy way to annotate websites. There is no need upload
      a design. A screen shot is taken automatically from any accessible website.

 include project/new

 footer copyright &copy; 2012 mydesigncrit.com