extends layout

block content
 #index
  span.beta
  div.navbar
    .navbar-inner
      .container-fluid
        a.brand(href='/')
          |  myDesignCrit.com   
          img.retina(src='/img/bubble.png', alt='Logo', width=25, height=22)
        ul.nav.pull-right
          li.dropdown
            include auth/signin

  .hero-unit.row
    .page-header
      h1 Critiquing designs <small>just got easier.</small>
    p.
      When creating a new website communication is important. Clients and designers still use emails and attachments to
       get feedback. You can now easily create screen shots and annotate them using My Design Crit. There is no need upload
       a design. A screen shot is taken automatically from any accessible website.

  include project/new

prepend footer
  footer copyright &copy; 2012 mydesigncrit.com