!!! 5
html
  head
    title myDesignCrit.com - #{title}
    link(href='http://fonts.googleapis.com/css?family=Quicksand:400,700', rel='stylesheet', type='text/css')
    != css('application')
    != js('application')
    - if (isProd)
      include scripts/analytics
  body(class="#{controller}")
    != body
    include scripts/feedback