%nav.navbar{role: 'navigation'}
  .navbar-header
    %a.navbar-brand{href: '/', target: '_self'} DesignCrit.io
  = render 'layouts/login'
  
.container
  %form{action: '/projects', method: 'post'}
    %h1 Create A New Crit
    .input-group.input-group-lg
      %span.input-group-addon Web page URL
      %input.form-control{name: 'url', placeholder: 'http://example.com', required: true, type: 'url'}/
      .input-group-btn
        %button.btn.btn-success{type: 'submit'} Go
