.row.jumbotron
  .col-md-8.col-md-offset-2
    .page-header
      %h1
        Designed
        %small by developers
        %br
        Created
        %small by designers

    %p.lead
      With DesignCrit.io you can create and annotate on websites with just a few clicks.
      A screenshot is taken automatically from any accessible website.

%main{:role => 'main'}
  #create-project{'ng-controller' => 'WelcomeCtrl'}
    .tabbable.tabs-left
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle' => 'tab', href: '#url', target: '_self'}
            %span.icon-earth
            From a URL
        %li
          %a{'data-toggle' => 'tab', href: '#image', target: '_self'}
            %span.icon-upload
            Upload a screenshot

      .tab-content
        #url.tab-pane.active
          %form{action: '/projects', method: 'post'}
            = token_tag
            %label Start with a URL to take a screenshot automatically
            .input-group.input-group-lg
              %input.form-control{name: 'url', placeholder: 'http://example.com', type: 'url'}/
              .input-group-btn
                %button.btn.btn-success{type: 'submit'} Start
        #image.tab-pane
          %div{'ng-file-drop' => 'onFileSelect($files)', 'ng-file-drop-available' => 'dropSupported=true', 'ng-class' => '{"drop-box": dropSupported}'}
            %div{'ng-show' => 'dropSupported'}
              %span.icon-upload2
              You can also drop a file here
            #file-upload.btn.btn-success
              Browse...
              %input#file-input{name: 'image', type: 'file', 'ng-file-select' => 'onFileSelect($files)'}/

          %br/
          .progress.progress-striped.active{'ng-show' => 'upload != null'}
            .progress-bar.progress-bar-success{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '{{progress}}', role: 'progressbar', style: 'width: {{progress}}%'}
              %span.sr-only {{progress}}% Uploaded


  #screenshot.text-center
    = image_tag('screenshot.jpg', retina: true)

  #features
    .container
      .row
        .col-md-4
          %h3
            %i.icon-domain
            Create from a URL
          DesignCrit.io will take a screenshots automatically so you don't have to. You can add more pages to a project.
        .col-md-4
          %h3
            %i.icon-edit2
            Annotate with comments
          Create comments by selecting a region that you want to annotate then add some text to each annotation. Each page can have unlimited amount of annotations.
        .col-md-4
          %h3
            %i.icon-share2
            Share when done
          You can share your project with anybody via e-mail. Sign in using Facebook or Google so you can save projects.

= render 'layouts/footer'