= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) unless user_signed_in?
= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) unless user_signed_in?

= debug current_user if user_signed_in?