.container
  .row.jumbotron
    .page-header
      %h1
        Collaborate. Innovate. Share.

    %p.lead
      DesignCrit.io is a design feedback app that allows you to create and annotate live websites in just a few clicks,
      with screenshots taken directly from any accessible website. Projects can be private or public for anybody to write feedback.

%main{:role => 'main'}
  .container
    #create-project.box.drop-box{'ng-controller' => 'WelcomeCtrl', 'ng-file-drop' => 'onFileSelect($files)', 'ng-file-drop-available' => 'dropSupported=true', 'ng-class' => '{"drop-box": dropSupported}'}
      .row
        .col-md-8
          %form{action: '/projects', method: 'post'}
            = token_tag
            .input-group.input-group-lg
              %input.form-control{name: 'url', placeholder: 'http://example.com', type: 'url'}/
              .input-group-btn
                %button.btn.btn-primary{type: 'submit'} Start
            %br/

            .progress.progress-striped.active{'ng-show' => 'upload != null'}
              .progress-bar.progress-bar-success{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '{{progress}}', role: 'progressbar', style: 'width: {{progress}}%'}
                %span.sr-only {{progress}}% Uploaded

            .text-left
              %input#privacy{type: 'checkbox', 'ng-model' => 'private', value: 'true', name: 'private'}/
              %label{for: 'privacy'}
                %span.ui>
                {{ private ? 'Only you can modify this project' : 'Other people can comment on this project' }}

        .col-md-4
          #file-upload.btn.btn-success.btn-lg
            %span.icon-upload2
            Upload your own design...
            %input#file-input{name: 'image', type: 'file', 'ng-file-select' => 'onFileSelect($files)'}/

      %div#upload-supported{'ng-show' => 'dropSupported'}
        %span.glyphicon.glyphicon-info-sign
        You can drop a file here to start upload


    #screenshot.text-center
      = image_tag_with_at2x 'screenshot.jpg'

  #features
    .container
      .row
        .col-md-4
          %h3
            %i.icon-domain
            Create from a URL
          DesignCrit.io will take a screenshots automatically so you don't have to. You can add more pages to a project.
        .col-md-4
          %h3
            %i.icon-edit2
            Annotate with comments
          Create comments by selecting a region that you want to annotate then add some text to each annotation. Each page can have unlimited amount of annotations.
        .col-md-4
          %h3
            %i.icon-share2
            Share when done
          You can share your project with anybody via e-mail. Sign in using Facebook or Google so you can save projects.

= render 'layouts/footer'