%nav.navbar.navbar-default{role: 'navigation'}
  .navbar-header
    %a.navbar-brand{href: '/', target: '_self'}
      %i.icon-pagesetup
      DesignCrit.io
  .navbar-collapse
    = render 'layouts/login'

.row.jumbotron
  .col-md-8.col-md-offset-2
    .page-header
      %h1
        Designed
        %small by developers
        %br
        Created
        %small by designers

    %p.lead
      With designcrit.io you can create and annotate on websites with just a few clicks.
      A screen shot is taken automatically from any accessible website.
%main
  %form#create-project.row{action: '/projects', method: 'post'}
    = token_tag
    .input-group.input-group-lg
      %input.form-control{name: 'url', placeholder: 'http://example.com', required: true, type: 'url'}/
      .input-group-btn
        %button.btn.btn-success{type: 'submit'} Create

  #screenshot.text-center
    %img{'ng-src' => image_path('screenshot.jpg'), width: 800}

  #features
    .container
      .row
        .col-md-4
          %h3
            %i.icon-domain
            Create from a URL
          DesignCrit.io will take a screenshots automatically so you don't have to. You can add more pages to a project.
        .col-md-4
          %h3
            %i.icon-edit2
            Annotate with comments
          Create comments by selecting a region that you want to annotate then add some text to each annotation. Each page can have unlimited amount of annotations.
        .col-md-4
          %h3
            %i.icon-share2
            Share when done
          You can share your project with anybody via e-mail. Sign in using Facebook or Google so you can save projects.

%footer
  .container
    .row
      .col-md-6
        = link_to 'About', '/about'
        = link_to 'Privacy', '/privacy'
      .col-md-6.text-right
        &copy; 2013 DesignCrit.io