#sidebar{'ng-switch' => true,  on: 'selectedCrit == null'}
  %div{'ng-switch-when' => 'true'}
    #placeholder{'ng-if' => 'crits.length == 0'}
      %h2 Create first Crit
      %p You haven't created any crits for this page. You can click and drag to create a rectangular area that you want to annotate.


    #crits{'ng-if' => 'crits.length > 0'}
      %ol.crits
        %li{ 'ng-repeat' => 'crit in crits' }
          %a.routed{href: '#', 'ng-mouseenter' => 'showCrit(crit)', 'ng-mouseleave' => 'hideCrit(crit)', 'ng-click' => 'select(crit)'}
            .index {{ $index + 1 }}
            .comment {{ crit.comment || 'No comment yet' }}
            .created-at
              %time{ 'am-time-ago' => 'crit.created_at'}

  .detail{'ng-switch-when' => 'false'}
    %button.btn.btn-primary.pull-right{type: 'submit', 'ng-click' => 'done()'} &laquo; Back
    %h2 Crit {{ crits.indexOf(selectedCrit) + 1 }}
    %form{role: 'form'}
      .form-group
        %textarea.form-control#comment{placeholder: 'Enter your comment', rows: 4, 'ng-model' => 'data.comment', 'simple-elastic' => true, 'ng-disabled' => '!selectedCrit.user.can_manage'}
    .time
      Created
      %time.created-at{ 'am-time-ago' => 'selectedCrit.created_at'}

    %a.btn.btn-warning{'delete-crit' => 'selectedCrit', 'ng-show' => 'selectedCrit.user.can_manage'} &cross; Remove

