#sidebar{'ng-switch' => true,  on: 'selectedCrit == null'}
  %div{'ng-switch-when' => 'true'}
    #placeholder{'ng-if' => 'crits.length == 0'}
      %h2 Create first Crit
      %p You haven't created any crits for this page. You can click and drag to create a rectangular area that you want to annotate.


    #crits{'ng-if' => 'crits.length > 0'}
      %h2 Crits on This Page
      %ol.crits
        %li{ 'ng-repeat' => 'crit in crits' }
          %a{href: '#', 'ng-mouseenter' => 'showCrit(crit)', 'ng-mouseleave' => 'hideCrit(crit)', 'ng-click' => 'select(crit)'} {{ crit.comment || 'No comment yet' }}

  %div{'ng-switch-when' => 'false'}
    %h2 Edit This Crit
    %form{role: 'form'}
      .form-group
        %label{for: 'comment'} Comment
        %textarea.form-control#comment{placeholder: 'Enter your comment', rows: 4, 'ng-change' => 'saveSelectedCrit()', 'ng-model' => 'data.comment'}
      .form-group
        %button.btn.btn-success.btn-block{type: 'submit', 'ng-click' => 'done()'} {{ mac ? '⌘' : 'ctrl' }} + enter