%nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation', 'ng-controller' => 'HeaderCtrl'}
  .navbar-header
    %a.navbar-brand{href: '/'} DesignCrit

  %ul.nav.navbar-nav.navbar-right
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
        %i.glyphicon.glyphicon-user
        Sign In
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Facebook', user_omniauth_authorize_path(:facebook)
        %li= link_to 'Google', user_omniauth_authorize_path(:google_oauth2)

#project{'ng-controller' => 'ProjectCtrl'}
  #sidebar
    %h1 Crits
    %ul{ 'ng-repeat' => 'crit in data.selectedPage.crits'}
      %li {{crit.comment }}

  %ul.nav.nav-tabs
    %li{'ng-repeat' => 'page in data.pages', 'ng-class' => '{active: page.id == data.selectedPage.id}'}
      %a{'ng-href' => '/projects/{{data.project.id}}/pages/{{page.id}}'} {{ page.title }}

  #canvas
    %ng-view




%script{id: 'page.html', type: 'text/ng-template'}
  = render 'page'



