%nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation', 'ng-controller' => 'HeaderCtrl'}
  .navbar-header
    %a.navbar-brand{href: '/', target: '_self'} DesignCrit.io
  = render 'layouts/login'

#project{'ng-controller' => 'ProjectCtrl', 'ng-init' => "projectId = '#{@project.id}'"}
  #sidebar{'ng-switch' => true,  on: 'data.selectedCrit == null'}
    %div{'ng-switch-when' => 'true'}
      %h1 Crits on This Page
      %ol.crits
        %li{ 'ng-repeat' => 'crit in data.selectedPage.crits' } {{ crit.comment }}

    %div{'ng-switch-when' => 'false'}
      %h1 Edit This Crit
      %form{role: 'form'}
        .form-group
          %label{for: 'comment'} Comment
          %textarea.form-control#comment{placeholder: 'Enter your comment', rows: 4, 'ng-change' => 'saveSelectedCrit()', 'ng-model' => 'data.selectedCrit.comment'}

  %ul.nav.nav-tabs
    %li{'ng-repeat' => 'page in data.pages', 'ng-class' => '{active: page.id == data.selectedPage.id}'}
      %a{'ng-href' => '/projects/{{data.project.id}}/pages/{{page.id}}'} {{ page.title }}

  #canvas
    %ng-view

%script{id: 'page.html', type: 'text/ng-template'}
  = render 'page'


%script{id: 'crit.html', type: 'text/ng-template'}
  = render 'crits/crit'

