@import "bootstrap.min.css"
@import nib
@import forms
@import index
@import project
@import gridlines
@import social

body
  font-family Geneva,Verdana,sans-serif
  background #323232 no-repeat
  background-size 100% 100px
  min-width 940px

label, h1, h2, h3, h4, .brand
  font-family 'Quicksand', sans-serif
  font-weight normal

h1, h2, h3, h4
  margin-bottom 12px

footer
  margin-top 50px
  color #eee
  text-align center
  padding 5px
  font-size 10px

#beta
  absolute left
  left 0
  top 0
