@import "bootstrap.min.css"
@import nib
@import forms
@import index
@import project
@import gridlines
@import social
@import dialog

body
  font-family Geneva,Verdana,sans-serif
  min-width 940px

  &.welcome
    background #323232 no-repeat

label, h1, h2, h3, h4, .brand
  font-family 'Quicksand', sans-serif
  font-weight normal

h1, h2, h3, h4
  margin-bottom 12px

footer
  margin-top 50px
  color #eee
  text-align center
  padding 5px
  font-size 10px

#beta
  absolute left
  left 0
  top 0

.navbar
  .brand
    font-weight bold
