#overlay
  height 100%
  width 100%
  fixed top 0 left 0
  z-index 100
  background rgba(0, 0, 0, 0.4)

#dialog
  fixed top 50% left 50%
  z-index 105
  width 700px
  height 600px
  margin-left -350px
  margin-top -300px
  background #fff
  padding 10px
  border-radius 3px
  box-shadow 0px 3px 8px 1px rgba(0, 0, 0, 0.5)
  overflow auto
  border 2px solid #ccc

  &.loading
    background url("/img/ajax-loader.gif") no-repeat center center #fff

  .top-bar
    margin-bottom 10px
    height 15px
