form#new-project-form
  width 80%
  margin -90px auto 0
  border-radius 5px
  text-align center
  box-shadow 0 1px 3px rgba(0, 0, 0, .5)
  transition height .5s ease
  height 130px
  overflow hidden
  padding 20px
  background white

  .loader
    margin 50px auto
    width 400px


a.btn + a.btn
   margin-left 4px

label
  font-size 140%

.help-block
  font-size 10px




  