#index
  .hero-unit
    padding-bottom 100px
    border-radius 0
    .page-header
      border-color #ccc

  .navbar
    margin 0
    .navbar-inner
      background #EEEEEE
      border-radius 0
      box-shadow none

      a.dropdown-toggle
        $color = #777
        color $color
        text-shadow none
        .caret
          border-bottom-color $color
          border-top-color $color
