#canvas-background
  background-image url(/img/checker.png)
  padding-top 60px
  padding-bottom 20px

  #canvas
    position relative
    margin 0 auto
    background-color white

    .crit
      absolute top left
      box-shadow 0 2px 4px #000
      border-radius 3px
      background rgba(255, 237, 13, 0.5)
      border transparent solid 2px
      transition background .3s ease

      &:hover, &.hover
        border-color lightBlue
        box-shadow 0 2px 10px black

        .resize-anchor
          background #777

      &.active
        border-color transparent
        background rgba(232, 95, 0, 0.8)
        box-shadow 0 2px 10px black

      .resize-anchor
        absolute right
        right -2px
        bottom -2px
        width 10px
        height 10px
        display block
        cursor nwse-resize
        border-bottom-right-radius 4px
        border-top-left-radius 20px

        &:hover
          background #555

      .show-after
        width 0
        height 0
        overflow hidden

      .close
        display none
        opacity .5
        &:hover
          opacity .8

      &:hover .close
        display block

      label
        absolute left
        left -52px
        top -10px
        text-align center
        display none
        font-family "Helvetica Neue",Helvetica,Arial,sans-serif
        text-shadow 0px 1px 0 #fff
        font-weight normal

        .num
          border-top-left-radius 3px
          border-bottom-left-radius 3px
          background-color #ff7537
          color black
          width 40px
          height 30px
          absolute left
          line-height 28px
          font-size 19px
          font-weight bold

        .num + .arrow
          width 0
          height 0
          border-top 15px solid transparent
          border-bottom 15px solid transparent
          border-left 15px solid #ff7537
          absolute left
          left 40px
  
#sidebar
  fixed right
  width 260px
  height 100%
  background white
  padding 45px 20px 0
  box-shadow 0 0 4px #000
  z-index 2

  #crits
    li
      margin 3px 0
      a
        cursor pointer
      a.title
        white-space nowrap
        width 90%
        overflow hidden
        text-overflow ellipsis
        display inline-block
        margin-bottom -5px

   .page-header
     padding-bottom 0

   h2
     margin-bottom 0

  #crit-comment
     width 250px
     height 100px

  .thumbs
    margin-bottom 10px

    .thumbs-up, .thumbs-down
      background-image url(/img/glyphicons_343_thumbs_up.png)
      width 34px
      height 31px
      background-repeat no-repeat
      background-position center

    .thumbs-down
      background-image url(/img/glyphicons_344_thumbs_down.png)

#edit, #view
  .nav
    > li
      > a
        color #ccc
        &:hover
          color #fff

#edit
  #canvas-background
    margin-right 290px

#view
  #canvas-background
    #canvas
      .crit
        background rgba(255, 237, 13, 0.35)
        border-color #ccc
        transition background .3s ease .3s, min-width .4s ease .1s, min-height .4s ease .3s
        &:hover, &.hover
          background rgba(244, 244, 244, .95)
          border-color lightBlue
          min-width 180px
          min-height 140px
          z-index 100
          .comment
            overflow-y auto
            min-height 140px
      .comment
        transition min-width .4s ease .1s, min-height .4s ease .3s
        padding 0 5px
        height 100%
        overflow hidden

  