#canvas
  background-position top left
  margin-right 260px

  .crit
    position absolute
    box-shadow 0 2px 4px
    border 2px solid #888
    border-radius 4px
    background white
    opacity .5

#tools
  fixed right
  width 260px
  height 100%
  background white
  padding 20px
  box-shadow 0 0 4px
  