#sign-in
  font-size 12px
  outline none

#edit, #view
  #sign-in
    i.icon-user
      background-image url(../img/glyphicons-halflings-white.png)

.dropdown
  li.text
    padding 3px 15px

[class^='social-']
  background-image url(/img/social.png)
  background-repeat no-repeat
  width 16px
  height 16px
  display inline-block
  vertical-align text-top

.social-google
  background-position -56px 1px

.social-facebook
  background-position 2px -86px

