#sign-in
  font-size 12px
  outline none

#edit, #view, #user
  #sign-in
    i.icon-user
      background-image url(../img/glyphicons-halflings-white.png)

.dropdown
  li.text
    padding 3px 15px

[class^='social-']
  background-image url(/img/social.png)
  background-repeat no-repeat
  width 16px
  height 16px
  display inline-block
  vertical-align text-top

.social-google
  background-position -56px 1px

.social-facebook
  background-position 2px -86px

.dropdown-menu a
  text-overflow ellipsis
  overflow hidden
  max-width 450px
.user
  .activity
    .title
      font-size 20px
    .localtime
      color #777
      font-size 12px
    .count
      font-size 12px
      color #777

    li
      float left
      padding 10px 0
      width 100%
      .thumbnail
        margin-right 10px
