#sign-in
  font-size 14px
  outline none

.dropdown
  li.text
    padding 3px 15px

.dropdown-menu a
  text-overflow ellipsis
  overflow hidden
  max-width 450px

.user .activity
  li
    color #666
    float left
    padding 10px 0
    width 200px
    margin 12px
    text-align center
    .thumbnail
      display inline-block
    .title
      font-size 14px
      width 100%
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
      display block
      margin-top 5px
    .localtime, .count
      font-size 12px
      display block