#sign-in
  font-size 14px
  outline none

.dropdown
  li.text
    padding 3px 15px

.dropdown-menu a
  text-overflow ellipsis
  overflow hidden
  max-width 450px

.user
  .activity
    .title
      font-size 20px
    .localtime
      color #777
      font-size 12px
    .count
      font-size 12px
      color #777

    li
      float left
      padding 10px 0
      width 100%
      .thumbnail
        margin-right 10px
