.page-header
  %h1 Oops! You haven't created any projects yet

%p.lead
  You can create projects as a guest user. When a project is created as a guest user, only this computer can access the project later.
  If you want to be able to manage your projects from multiple computers, then sign in using Google or Facebook.