%li.project.col-lg-3.col-md-3.col-sm-4.col-xs-6
  = link_to project, title: project.title do
    .image
      .text
        = project.title
      = image_tag project.pages.first.thumbnail

  .text-left
    %time{ 'am-time-ago' => "'#{project.updated_at.to_time.iso8601}'"}

  - if can? :manage, project
    .options
      Edit goes here
