- content_for :header do
  %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation', 'ng-controller' => 'HeaderCtrl'}
    .navbar-header
      %a.navbar-brand{href: '/'}
        %i.icon-pagesetup
        DesignCrit.io
    .navbar-collapse
      %form.navbar-form.navbar-left
        .form-group
      = render 'layouts/login'
      - if can? :read, @project
        %form.navbar-form.navbar-right
          .form-group
            = link_to project_path(@project), class: 'btn btn-success' do
              %i.icon-share2
              Edit

#project{'ng-controller' => 'ShareCtrl', 'ng-init' => "shareId = '#{@project.share_id}'"}
  %carousel
    %slide{'ng-repeat' => 'page in project.pages'}
      %h3.ng-cloak {{ page.title }}
      #page{ 'ng-style' => "{ width: page.width + 'px', height: page.height + 'px', 'background-image': 'url(' + page.screenshot + ')' }"}
        %crit{ 'ng-repeat' => 'crit in page.crits', crit: 'crit', index: '$index + 1'}

%script{id: 'crit.html', type: 'text/ng-template'}
  .crit{style: 'left: {{crit.x}}px; top:{{crit.y}}px; width: {{crit.width}}px; height: {{crit.height}}px', 'ng-class' => '{small: crit.width < 50 && crit.height < 50}'}
    .index {{ index }}
    .comment {{ crit.comment }}

%script{id: 'email.html', type: 'text/ng-template'}
  %form.modal-content{'ng-submit' => 'submit()'}
    .modal-header
      %h3 Share via email

    .modal-body
      .form-group
        %label{for: 'to'} Enter the email address you like to share this project.
        %input#to.form-control{placeholder: 'joe@example.com', type: 'email', 'ng-model' => 'form.to'}/

    .modal-footer
      %button.btn.btn-warning{type: 'reset', 'ng-click' => 'cancel()'} Cancel
      %button.btn.btn-success{type: 'submit'} Send

