.container
  %h1 Privacy Policy

%article.container
  %h2 Information Collection
  %p DesignCrit.io does not collect any personal information. Signing in with Facebook or Google is only needed to associate an email address to your profile. Email addresses are never shared. DesignCrit.io needs your email so that you can save projects to your profile.

  %h2 Data Storage
  %p DesignCrit.io uses third party vendors and hosting partners to provide hardware, software and storage. DesignCrit.io does not expose any personal information to third parties.

  %h2 Cookie
  %p A cookie is a small amount of data stored in your browser to remember who you are. No personal information is stored in cookies. We use cookies to store session information. The actual session is stored on our hosted solution.
