%article.container
  .page-header
    %h1 Support & Feedback
  %h2 Why donate?
  %p
    DesignCrit.io has no advertisement. It is not sponsored by anybody. All the services are available free of charge.
    DesignCrit.io's financial needs can only be met with the help of you. Supporting will remain voluntary. If you are
    financially able, please help to pay bills by donating.
  %p
    DesignCrit.io is a nonprofit organization. All voluntary donations are used to cover servers costs and maintaining the website.

  %h3 Donate via Flattr

  %p Launched in March 2010, Flattr is a Swedish-based microdonation provider founded by Peter Sunde and Linus Olsson. Adding money to a Flattr account or withdrawing revenue from a Flattr account can be done via PayPal, Moneybookers, Bitcoin, credit card (including Visa, EC, and MasterCard), and other country-specific methods.

  %p.text-center
    %a{href: 'https://flattr.com/submit/auto?user_id=amir20&url=http%3A%2F%2Fdesigncrit.io%2F', target: '_blank'}
      %img{alt: 'Flattr this', border: '0', src: '//api.flattr.com/button/flattr-badge-large.png', title: 'Flattr this'}/

  %h2 Feedback
  %p
    For bugs or questions please contact support at
    %a{href:'mailto:tickets@designcrit.uservoice.com'} tickets@designcrit.uservoice.com


= render 'layouts/footer'