div#view(data-project-id = "#{project.id}")
  include toolbar

  div#canvas-background
    #canvas(style = "background-image: url(#{project.screenshot}); width: #{project.screenshotWidth}px; height: #{project.screenshotHeight}px")