div#toolbar.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container-fluid
      mixin branding
      .absolute-center
        mixin pages

      ul.nav.pull-right
        - if (canEdit)
          li
            a(href="/edit/#{project.id}")
             i.icon-edit
             |  Edit
        li
          a#share.dialog(href="/share/#{project.shortId}")
           i.icon-share
           |  Share
        li.dropdown
          include ../../auth/signin