div#toolbar.navbar.navbar-fixed-top.white-icons
  .navbar-inner
    .container-fluid
      a.brand(href='/') myDesignCrit.com
      ul.nav.pull-right
        - if (canEdit)
          li
            a(href="/edit/#{project.id}") Edit
        li
          a#share.dialog(href="/share/#{project.shortId}") Share
        li.dropdown
          include ../../auth/signin