div.crit
  position: absolute
  box-shadow: 0 1px 2px #000
  border-radius: 3px
  background: rgba(255, 237, 13, 0.5)
  border: transparent solid 2px
  transition: background .3s ease, border-radius .3s ease
  list-style: none
  min-height: 10px
  min-width: 10px

  .close
    display: none

  .resize
    position: absolute
    right: -2px
    bottom: -2px
    width: 10px
    height: 10px
    display: block
    cursor: nwse-resize
    border-bottom-right-radius: 4px
    border-top-left-radius: 20px

    &:hover
      background: lightblue !important

  &:hover
    border-color: lightblue

  &.selected
    border-color: transparent !important

  &:hover, &.selected
    background: rgba(232, 95, 0, 0.8)
    box-shadow: 0 1px 2px #000

    .close
      display: block

    .resize
      background: #777

  .index
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .4)
    font-size: 48px
    text-align: center
    color: rgba(255, 237, 13, 0.7)
    position: absolute
    top: -15px
    left: 5px
    transition: top .3s ease, left .3s ease, background .3s ease

  &.small
    border-radius: 30px
    min-width: 30px
    min-height: 30px
    .index
      top: -55px
      left: -20px
      color: rgba(255, 237, 13, 0.95)


