body#pages
  background: #ece8e0

.navbar-inverse
  background: rgba(35, 42, 56, .9)
  border: none

  .navbar-brand
    color: #efefef
    text-shadow: 0 1px 0 rgba(0, 0, 0, .8)

#project
  margin-top: 55px
  background: #ece8e0

  ul.nav-tabs
    box-shadow: inset 0px -1px 2px -1px rgba(0, 0, 0, 0.1)
    font-size: 12px
    padding-top: 30px
    padding-left: 10px

    a.tab
      i.close
        margin-top: -5px
        margin-left: 9px

    li.active
      a
        box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.25), 0px 0px 0px -1px rgba(0, 0, 0, 0.25)
    a
      max-width: 300px
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden

  #canvas
    background-image: image_url('checker.png')
    min-height: 600px
    margin-right: 350px
    padding: 20px 0

    #page
      position: relative
      margin: 0 auto
      background: #fff
      min-height: 700px

.modal
  display: block
  height: 0
  overflow: visible

  .modal-body:before, .modal-body:after
    display: table
    content: " "

  .modal-header:before, .modal-header:after
    display: table
    content: " "
