#projects.share
  background: #333

  .carousel-inner
    overflow: visible
    padding-bottom: 50px

  h1, h2, h3, h4
    color: #e1e1e1

  #project
    background: #333
    width: 1100px
    margin: 80px auto
    text-align: center

    #page
      display: inline-block
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, .25)

      .crit
        cursor: default
        text-align: left
        box-shadow: 0 1px 2px #000
        transition: background .3s ease .1s, border-radius .3s ease, min-width .4s ease .1s, min-height .4s ease .3s

        .comment
          font-size: 14px
          overflow: hidden
          height: 100%
          padding: 5px
          transition: min-width .4s ease .1s, min-height .4s ease .3s
          color: rgba(0, 0, 0, .6)

        &:hover, &.selected
          border-color: transparent
          border-radius: 2px
          min-width: 180px
          min-height: 140px
          background: rgba(244, 244, 244, .95)
          z-index: 100

          .index
            left: -50px

          .comment
            overflow-y: auto
            min-height: 140px
            color: rgba(0, 0, 0, 1)

    .carousel-control
      font-size: 90px
      background: #000
      border-radius: 50px
      position: fixed
      height: 100px
      width: 100px
      top: 50%
      cursor: pointer
      line-height: 80px

      &.left
        left: 45px
        .icon-prev
          font-size: 90px
          margin-top: -51px

      &.right
        right: 45px
        .icon-next
          font-size: 90px
          padding-left: 19px
          margin-top: -51px
