#welcome
  background: #252525

  .navbar-brand
    color: #444
    text-shadow: 0 1px 0 #fff

  .page-header
    color: #444
    text-shadow: 0 1px 0 #fff

  #top
    background: #ece8e0
    margin-bottom: 40px

    .jumbotron
      padding-top: 0
      padding-bottom: 100px
      background: transparent

      .page-header
        border-bottom-color: #ccc

  #create-project
    background: #fff
    padding: 40px 30px
    border-radius: 1px
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
    width: 80%
    margin: -120px auto 0

    h1
      margin-bottom: 30px
      text-align: center