#welcome
  background: #fff

  .navbar
    padding-bottom: 0
    margin-bottom: 0

    .navbar-brand
      color: #444
      text-shadow: 0 1px 0 #fff

  .page-header
    color: #444
    text-shadow: 0 1px 0 #fff

  .jumbotron
    padding: 0
    margin: 0
    background: transparent

    .page-header
      border-bottom: none

  #create-project
    padding: 20px 30px
    border-radius: 1px
    width: 50%
    margin: 0 auto
    margin-bottom: 50px

  #screenshot
    margin-top: -80px
    padding-top: 75px
    height: 450px
    overflow: hidden
    img
      box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, .14)

  #features
    padding: 80px 0
    background: #f3f3f3
    border-top: 1px solid #ddd
