:javascript
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/C3nwk0QqxzpA3ocV6wXNkQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
  UserVoice.push(['set', {
    accent_color: '#448dd6',
    trigger_color: 'white',
    trigger_background_color: 'rgba(46, 49, 51, 0.6)'
  }]);
  UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);
  UserVoice.push(['autoprompt', {}]);
%footer
  .container
    .row
      .col-md-6
        = link_to 'About', '/about', target: '_self'
        = link_to 'Privacy', '/privacy', target: '_self'
        = link_to 'Support & Feedback', '/support', target: '_self'
        = link_to 'Changelog', '/changelog', target: '_self'
      .col-md-6.text-right
        &copy; 2013 DesignCrit.io