%footer
  .container
    .row
      .col-md-6
        = link_to 'About', '/about'
        = link_to 'Privacy', '/privacy'
        = link_to 'Support & Feedback', '/support'
        = link_to 'Changelog', '/changelog'
      .col-md-6.text-right
        &copy; 2014 DesignCrit.io