%footer
  .container
    .row
      .col-md-6
        = link_to 'About', '/about', target: '_self'
        = link_to 'Privacy', '/privacy', target: '_self'
        = link_to 'Support & Feedback', '/support', target: '_self'
        = link_to 'Changelog', '/changelog', target: '_self'
      .col-md-6.text-right
        &copy; 2014 DesignCrit.io