%footer
  .container
    .row
      .col-md-6
        = link_to 'About', '/about', target: '_self'
        = link_to 'Privacy', '/privacy', target: '_self'
      .col-md-6.text-right
        &copy; 2013 DesignCrit.io